/* Estilos generales */
body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
}

/* Estilos para la barra lateral */
.sidebar {
    width: 250px;
    background-color: rgb(34, 113, 169);
    color: white;
    padding-inline: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Estilos para el contenido principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.content-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilos para la sección de gestión de alumnos */
.content-grid {
    display: grid;
    grid-template-columns: 1fr; /* Una columna por defecto */
    gap: 20px;
}

/* Para pantallas pequeñas (2 columnas) */
@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    }
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.button-container button {
    background-color: rgb(34, 113, 169);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: rgb(28, 94, 140);
}


.btn {
    background: #4D869C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #2f5d73;
}
.asistencias-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 800px; /* Limita el ancho */
    margin: auto; /* Centra el contenedor */
    padding: 10px;
}

.estudiante-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EEF7FF;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
}

.estudiante-nombre {
    flex: 1;
    font-weight: bold;
    text-align: left;
}

.asistencia-dias {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end; /* Asegura que los checkboxes estén alineados a la derecha */
}

.asistencia-checkbox input {
    transform: scale(1.2);
    margin-right: 5px;
}
