<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <img src="../static/img/bosco.png" alt="Logo de la Escuela" class="logo">
        <form action="/login" method="POST">
            <input type="number" name="registro" class="input" placeholder="Número de registro" required>
            <input type="password" name="password" class="input" placeholder="Contraseña" required>
            <button type="submit" class="btn">Ingresar</button>
        </form>
        <a href="{{ url_for('recuperar_contraseña') }}" class="forgot-password">¿Olvidaste tu contraseña?</a>
        {% if mensaje_error %}
            <p class="error">{{ mensaje_error }}</p>
        {% endif %}
    </div>
</body>
</html>
